<a href="https://www.inove.com.ar"><img src="https://raw.githubusercontent.com/InoveAlumnos/dataset_analytics_python/master/images/PA%20Banner.png" width="1000" align="center"></a>


# Utilidades de pandas

# 1 - Conectarse a una base de datos con sqlite3 y extraer toda la información a un DataFrame.

Referencia:\
https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html#compare-with-sql

In [ ]:
import sqlite3

# Conexión a la base de datos.
conn = sqlite3.connect('personas.db')

In [ ]:
# Completar la DB con los datos SQL
# La tabla de la base de datos se llama "tabla"
# conn, es la variable de conexión.
# if_exists='replace' -> si existia la DB la sobreescribe
df.to_sql('tabla', conn, if_exists='replace')

In [ ]:
# Crear un dataframe desde la DB
# De Pandas con el método read_sql_query()
# Especificando como parámetros la cquery(consulta a la DB) y la variable de conexión
df_query = pd.read_sql_query("SELECT * from tabla", conn)
df_query

   index    Name  Age     Nationality
0      0   Inove   12       Argentina
1      1  Python   29         Holanda
2      2     Max   35  Estados Unidos
3      3   Mirta   93       Argentina
4      4     Max   40  Estados Unidos
5      5     SQL   13      Inglaterra
6      6  SQLite   20  Estados Unidos